.demo-sec{
    .row{
        .col-lg-8.col-sm-12{
            h3{
                color: $color-primary;
                font-weight: 300;
            }

        }
        .form-btn{
            color: $color-white;
            background-color: $color-primary;
            padding: 5px;
            width:80px;
    
        }
    }
    form input{
        width: 200px;
        height:20px;
        border: 1px solid grey;
        padding:10px;

        textarea{
            width:140px;
            height:50px;
            border: 1px solid grey;
        }
    }
}

